html,
body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

.bg {
  height: 120vh;
  width: auto;
  background-color: #cbf3f0;
}

@media (min-width: 768px) {
  .bg {
    background-image: url("../assets/bg.jpg");
    background-position: center;
    background-size: cover;
  }
}

.bg-all {
  height: 120vh;
  background-image: url("../assets/bg.jpg");
  background-position: center;
  background-size: cover;
}

.todayDisplay {
  background-color: rgba(255, 255, 255, 0.4);
  margin: 20px;
  padding: 10px;
}
