.bg {
  height: 100vh;
  width: auto;
  background-color: #cbf3f0;
}

@media (min-width: 768px) {
  .bg {
    background-image: url("../assets/bg.jpg");
    background-position: center;
    background-size: cover;
  }
}

.bg-all {
  height: 100vh;
  background-image: url("../assets/bg.jpg");
  background-position: center;
  background-size: cover;
}
